//Font variables
$font-family: 'Merriweather Sans', sans-serif;
$default-font-size:  16px;
$small-font-size: 14px;
$smaller-font-size: 10px;
$large-font-size: 30px;

$main-heading-font-size: $large-font-size;