//Color Variables

$darkblue: #758e9d;
$white: #fff;
$lightwhite: #bbc2c5;
$black: #2c3e50;
$grey: #bbc2c5;
$lightgrey1: #dbe0e2;
$lightgrey2: #e7e9ec;
$darkgrey: #aaaaaa;
$darkerblue: #394f63;

$backgroundcolor: $darkblue;
$hcard-builder-backgroundcolor: $white;
$hcard-preview-backgroundcolor: $lightgrey2;
$main-heading-color: $black;
$form-heading-color: $lightgrey1;
$hcard-preview-heading-color: $lightwhite;
$avatar-content-background-color: $darkerblue;

